body {
  min-height: 1590px;
}
.navbar{
background-color: #273036;
}
.jumbotron {
  padding-top: 2rem;
  background-color: #f2aa4c;
}
#tentang{
  background-color: #f2aa4c;
}
#kontak{
  background-color: #f2aa4c;
}
