*{
  scroll-behavior: smooth;
  background-image: url(Images/federico-beccari-eGJg5iRGlg8-unsplash.jpg)
}
body {
  min-height: 1590px;
  padding-top: 4rem;
}
.navbar{
  font-size: 20px;
}
.jumbotron {
  padding-top: 2rem;
  background-color: #ffffff;
}